
@font-face {
  font-family: "condenso";
  src: url("fonts/Condenso-Demo-BF6892d43a96208.otf");
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}


#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* sends video behind content */
}


body {
  font-family: 'Orbitron', sans-serif;
  overflow-y: auto;

  background-image: url("Jan-Wallpaper-APTheCreative.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* Full screen container */

.container {
  width: 100vw;
  height: 100vh;
  border: 6px solid #111;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Top bar */

.topbar {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
}

/* Hero */

.hero {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  perspective: 1000px;
  margin-right: -400px;
}

.title {
  font-family: "condenso", sans-serif;
  font-weight: normal;
  font-size: 100px;
  color: white;
  letter-spacing: 4px;
  transition: transform 0.2s ease-out, filter 0.2s ease-out;
  transform-style: preserve-3d;
  will-change: transform, filter;
}


.subtitle {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.6;
}

/* Mask */

.mask img {
  width: 660px;
  margin-top: 20px;
  opacity: 100%;
  filter: drop-shadow(0 0 10px rgb(51, 132, 58));
}

/* Info section */

.info {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid black;
  padding-top: 20px;
  font-size: 12px;
  color: white;
}
#head {
  font-size: 18px;
  margin-bottom: 10px;
  color: red;
}



/* Barcode */

.barcode {
  margin-top: 15px;
  height: 50px;
  border-top: 3px solid black;
}

.bars {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    90deg,
    black 0px,
    black 3px,
    transparent 3px,
    transparent 6px
  );
}

/* Responsive */

@media (max-width: 768px) {
  .title {
    font-size: 36px;
  }

  .info {
    flex-direction: column;
    gap: 10px;
  }
}

/* Navigation */

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  position: relative;
}

.nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background: black;
  transition: 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

/* Sections */

.section {
  border-top: 2px solid black;
  padding: 40px 0;
  font-size: 14px;
}





